*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: #000;
    color:white;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin:auto;
    display: flex;
    align-items: center;
}

.headerLogo{
    width: 100px;
    height: 100;
}

.logoImg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
}

.headerMenu{
    flex:1;
    display: flex;
    justify-content: flex-end;
}

.headerMenu ul,
.headerMenu li {
    list-style:circle;
}

.headerMenu ul {
    display: flex;
}
.headerMenu li{
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    text-decoration: none;
}